@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*
  Tailwind v4の場合
  tailwind.config.jsではなくglobals.cssにテーマ変数を定義する必要がある。
*/
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-text: #2e2e2e;
  --color-alert: #c90000;
  --color-lightPrimary: #24b54d; /* グリーン */
  --color-lightSecondary: #cfa15d; /* ベージュ */
  --color-lightAccent: #f0b802; /* オレンジ */
  --color-lightBackground: #FFFFFF;
  --color-darkPrimary: #080a27; /* ダークネイビー */
  --color-darkSecondary: #13bed0; /* マリンブルー */
  --color-darkTertiary: #006888; /* ダークブルー */
  --color-darkAccent: #f7f388; /* レモンイエロー */
  --color-darkBackground: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Kiwi Maru", serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .main-bg {
    @apply bg-cover bg-center bg-no-repeat bg-fixed min-h-screen;
    background-image: url('/assets/img/bg/bg_light05.jpg'); /* ライト用 */
  }

  .dark .main-bg {
    background-image: url('/assets/img/bg/bg_dark03.jpg'); /* ダーク用 */
    color: var(--color-foreground);
  }

  .dark .gradient-sky-blue {
    background: linear-gradient(90deg, rgb(60, 202, 255) 60%, rgb(28, 81, 255) 100%);
    transition: all 0.3s;
  }
  .dark .gradient-sky-blue:hover {
    background: linear-gradient(90deg, rgb(60, 202, 255) 0%, rgb(28, 81, 255) 100%);
  }
}